<div id="caselist"
  class="container-fluid container--xl container--xxl main-page-wrap bg-trans-white   my-3 mx-3   relative">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row bg-theme-gradient page-highlight-header">
      <div class="col-6">
        <h3>Add Cases</h3>
      </div>
      <div class="col-6 row justify-content-end p-0">
        <div class="col-md-2  d-flex justify-content-end p-0">
          <button class="text-white" mat-raised-button color="accent">Save</button>
        </div>
      </div>

    </div>



<div class="relative p-3 pt-4">


    <div class="row ">

      <mat-accordion>
        <mat-expansion-panel [expanded]="true" class="mb-3 bg-none shadow-none">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div>
                <h3 class="half-underline">Case Details</h3>
              </div>
            </mat-panel-title>
            <mat-panel-description class="justify-content-end"></mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">

            <div class="col-md-6">

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Case Number</mat-label>
                    <input formControlName="caseno" matInput placeholder="Placeholder">
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('caseno', 'required')">
                    You must provide a<strong> Case Numbr </strong>
                  </mat-error>
                </div>


                <div class="col-md-4">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Case Type</mat-label>
                    <mat-select formControlName="casetype" disableOptionCentering>
                      <mat-option selected value="">Select Case Type</mat-option>
                      <mat-option [value]="type.code" *ngFor="let type of caseTypeList">
                        {{type.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('casetype', 'required')">
                    You must provide a<strong> Case Type </strong>
                  </mat-error>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Case Sub Type</mat-label>
                    <mat-select formControlName="casesubtype" disableOptionCentering>
                      <mat-option selected value="">Select Case Sub Type</mat-option>
                      <mat-option [value]="type.code" *ngFor="let type of activeCaseSubtype">
                        {{type.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('casesubtype', 'required')">
                    You must provide a<strong> Case Sub Type </strong>
                  </mat-error>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Act</mat-label>
                    <input formControlName="act" matInput placeholder="Placeholder">
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('act', 'required')">
                    You must provide a<strong> Act </strong>
                  </mat-error>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Filing Number</mat-label>
                    <input formControlName="filingno" matInput placeholder="Placeholder">
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('filingno', 'required')">
                    You must provide a<strong> Filing Numbr </strong>
                  </mat-error>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Filing Date</mat-label>
                    <input (click)="filingdatePicker.open()" formControlName="filingdate" matInput
                      [matDatepicker]="filingdatePicker" autocomplete="off" readonly />
                    <mat-datepicker-toggle matSuffix [for]="filingdatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #filingdatePicker> </mat-datepicker>
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('filingdate', 'required')">
                    You must provide a<strong> Filing Date </strong>
                  </mat-error>
                </div>

              </div>



            </div>

            <div class="col-md-6">


              <div class="row ">
                <div class="col-md-6">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Register Number</mat-label>
                    <input formControlName="regnumber" matInput placeholder="Placeholder">
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('regnumber', 'required')">
                    You must provide a<strong> Register Number </strong>
                  </mat-error>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Registeration Date</mat-label>
                    <input (click)="regdatePicker.open()" formControlName="regdate" matInput
                      [matDatepicker]="regdatePicker" autocomplete="off" readonly />
                    <mat-datepicker-toggle matSuffix [for]="regdatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #regdatePicker> </mat-datepicker>
                  </mat-form-field>


                  <mat-error *ngIf="errorHandling('regdate', 'required')">
                    You must provide a<strong> Registeration Date </strong>
                  </mat-error>
                </div>


                <div class="col-md-6">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>First Hearing Date</mat-label>
                    <input (click)="firsthearingdatePicker.open()" formControlName="firsthearingdate" matInput
                      [matDatepicker]="firsthearingdatePicker" autocomplete="off" readonly />
                    <mat-datepicker-toggle matSuffix [for]="firsthearingdatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #firsthearingdatePicker> </mat-datepicker>
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('firsthearingdate', 'required')">
                    You must provide a<strong> First Hearing Date </strong>
                  </mat-error>
                </div>



                <div class="col-md-6">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>CNR Number</mat-label>
                    <input formControlName="cnrnumber" matInput placeholder="Placeholder">
                  </mat-form-field>

                  <mat-error *ngIf="errorHandling('cnrnumber', 'required')">
                    You must provide a<strong> CNR Number </strong>
                  </mat-error>
                </div>


              </div>



            






            </div>

          </div>

          <div class="row mb-3">
            <div class="col-md-6 row m-0">
              <fieldset class="p-3">
                <legend>Case Stage</legend>
                <mat-radio-group class="col" formControlName="casestage" aria-labelledby="example-radio-group-label"
                  class="example-radio-group">
                  <mat-radio-button class="example-radio-button me-3" *ngFor="let stage of caseStageList"
                    [value]="stage.code">
                    {{stage.name}}
                  </mat-radio-button>
                </mat-radio-group>
              </fieldset>
              <mat-error *ngIf="errorHandling('casestage', 'required')">
                You must provide a<strong> Case Stage </strong>
              </mat-error>
            </div>


            <div class="col-md-6 row m-0">
              <fieldset class="p-3">
                <legend>Case Priority</legend>
                <mat-radio-group class="col" formControlName="casepriority"
                  aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button me-3" *ngFor="let prio of casePriorityList"
                    [value]="prio.code">
                    {{prio.name}}
                  </mat-radio-button>
                </mat-radio-group>
              </fieldset>
              <mat-error *ngIf="errorHandling('casepriority', 'required')">
                You must provide a<strong> Case Priority </strong>
              </mat-error>
            </div>
          </div>


        </mat-expansion-panel>
      </mat-accordion>














    </div>



    <div class="row">
<div class="col-md-4">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" class="mb-3 bg-none shadow-none">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            <h3 class="half-underline m-0">Client Details</h3>
          </div>
        </mat-panel-title>
        <mat-panel-description class="justify-content-end"></mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="" appearance="outline">
            <mat-label>Client Name</mat-label>
            <input formControlName="clientname" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-error *ngIf="errorHandling('clientname', 'required')">
            You must provide a<strong> Client Name </strong>
          </mat-error>
        </div>


        <div class="col-md-6">
          <mat-form-field class="" appearance="outline">
            <mat-label>Client Type</mat-label>
            <input formControlName="clienttype" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-error *ngIf="errorHandling('clienttype', 'required')">
            You must provide a<strong> Client Type </strong>
          </mat-error>
        </div>
<!-- 
        <div class="col-md-6">
          <mat-form-field class="" appearance="outline">
            <mat-label>Client Mobile Number</mat-label>
            <input formControlName="clientmob" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-error *ngIf="errorHandling('clientmob', 'required')">
            You must provide a<strong> Client Mobile Number </strong>
          </mat-error>
        </div>

        <div class="col-md-6">
          <mat-form-field class="" appearance="outline">
            <mat-label>Client Email</mat-label>
            <input formControlName="clientemail" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-error *ngIf="errorHandling('clientemail', 'required')">
            You must provide a<strong> Client Email </strong>
          </mat-error>
        </div> -->


        <div class="col-md-6">
          <mat-form-field class="" appearance="outline">
            <mat-label>Respondent Name</mat-label>
            <input formControlName="respondentname" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-error *ngIf="errorHandling('respondentname', 'required')">
            You must provide a<strong> Respondent Name </strong>
          </mat-error>
        </div>

        <!-- <div class="col-md-6">
          <mat-form-field class="" appearance="outline">
            <mat-label>Respondent Mobile Number</mat-label>
            <input formControlName="respondentmob" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-error *ngIf="errorHandling('respondentmob', 'required')">
            You must provide a<strong> Respondent Mobile Number </strong>
          </mat-error>
        </div> -->


        <div class="col-md-6">
          <mat-form-field class="" appearance="outline">
            <mat-label>Respondent Adovcate</mat-label>
            <input formControlName="respondentadv" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-error *ngIf="errorHandling('respondentadv', 'required')">
            You must provide a<strong> Respondent Adovcate </strong>
          </mat-error>
        </div>

        <!-- <div class="col-md-6">
          <mat-form-field class="" appearance="outline">
            <mat-label>Respondent Adovcate Mobile Number</mat-label>
            <input formControlName="respondentadvmob" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-error *ngIf="errorHandling('respondentadvmob', 'required')">
            You must provide a<strong> Respondent Adovcate Mobile Number </strong>
          </mat-error>
        </div> -->



      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
    
      
      <div class="col-md-4">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true" class="mb-3 bg-none shadow-none">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>
                  <h3 class="half-underline  m-0">FIR Details</h3>
                </div>
              </mat-panel-title>
              <mat-panel-description class="justify-content-end"></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="" appearance="outline">
                  <mat-label>Police Statione</mat-label>
                  <input formControlName="policestation" matInput placeholder="Placeholder">
                </mat-form-field>
      
                <mat-error *ngIf="errorHandling('policestation', 'required')">
                  You must provide a<strong> Police Station </strong>
                </mat-error>
              </div>


              <div class="col-md-6">
                <mat-form-field class="" appearance="outline">
                  <mat-label>FIR Number</mat-label>
                  <input formControlName="firno" matInput placeholder="Placeholder">
                </mat-form-field>
      
                <mat-error *ngIf="errorHandling('firno', 'required')">
                  You must provide a<strong> FIR Number </strong>
                </mat-error>
              </div>

              <div class="col-md-6">
                <mat-form-field class="" appearance="outline">
                  <mat-label>FIR Date</mat-label>
                  <input (click)="firdatePicker.open()" formControlName="firdate" matInput
                    [matDatepicker]="firdatePicker" autocomplete="off" readonly />
                  <mat-datepicker-toggle matSuffix [for]="firdatePicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #firdatePicker> </mat-datepicker>
                </mat-form-field>
      
                <mat-error *ngIf="errorHandling('firdate', 'required')">
                  You must provide a<strong> FIR Date </strong>
                </mat-error>
              </div>
  
            </div>
  
          </mat-expansion-panel>
        </mat-accordion>
      </div>    
    
      <div class="col-md-4">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true" class="mb-3 bg-none shadow-none">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>
                  <h3 class="half-underline  m-0">Court Details</h3>
                </div>
              </mat-panel-title>
              <mat-panel-description class="justify-content-end"></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="" appearance="outline">
                  <mat-label>Court Number</mat-label>
                  <input formControlName="courtno" matInput placeholder="Placeholder">
                </mat-form-field>
      
                <mat-error *ngIf="errorHandling('courtno', 'required')">
                  You must provide a<strong> Court Number </strong>
                </mat-error>
              </div>


              <div class="col-md-6">
                <mat-form-field class="" appearance="outline">
                  <mat-label>Court Type</mat-label>
                  <mat-select formControlName="courttype" disableOptionCentering>
                    <mat-option selected value="">Select Court Type</mat-option>
                    <mat-option [value]="type.code" *ngFor="let type of courtTypeList">
                      {{type.name}}</mat-option>
                  </mat-select>                </mat-form-field>
      
                <mat-error *ngIf="errorHandling('courtno', 'required')">
                  You must provide a<strong> Court Type </strong>
                </mat-error>
              </div>



              
              <div class="col-md-12">
                <mat-form-field class="" appearance="outline">
                  <mat-label>Judge Type</mat-label>
                  <mat-select formControlName="judgetype" disableOptionCentering>
                    <mat-option selected value="">Select Judge Type</mat-option>
                    <mat-option [value]="type.code" *ngFor="let type of judgeTypeList">
                      {{type.name}}</mat-option>
                  </mat-select>                </mat-form-field>
      
                <mat-error *ngIf="errorHandling('judgetype', 'required')">
                  You must provide a<strong> Judge Type </strong>
                </mat-error>
              </div>
  
            </div>
  
          </mat-expansion-panel>
        </mat-accordion>
      </div>
     
      


    </div>



    <div class="row my-1">

 <app-add-documents #docAdd [userId]="'Id'" [attachmentType]="'caseForm'"  [groupId]="activeGroupId" [documentList]='uploadedDocumentList' [docTypeList]="docList"
        [docType]="'document'" (docUploadSuccess)="afterDocUploadSuccess($event);" (onDocUpload)="getGroupidOnDocUpload($event);" (onDocDelete)="deleteFile($event);"
        (docDeleteSuccess)="afterDocDelete($event);"></app-add-documents>
    </div>

</div>
  </form>

</div>