<div id="docInOutList"
    class="container-fluid container--xl container--xxl main-page-wrap bg-trans-white   my-3 mx-3   relative">
    <div class="row bg-theme-gradient page-highlight-header">
        <div class="col-6">
            <h3>Clients</h3>
        </div>
        <div class="col-6 row justify-content-end p-0">
            <div class="col-md-2  d-flex justify-content-end p-0">
                <button class="text-white" mat-raised-button color="accent" >Create New</button>
            </div>
        </div>

    </div>
    </div>