<header class="header bg-white inheritSize ">
    <div class="header__main inheritSize ">
        <div class="container-fluid container--xl mx-1 inheritSize ">
          <div
            class="row align-items-center justify-content-lg-end inheritSize  navbar navbar-expand-xl"
          >
            <div class="col-6 col-lg-3 col-xl-3 d-flex align-items-center">
              <a href=""
                ><img
                  class="logo"
                  src="assets/images/logo/eazible_full.png"
              /></a>
            </div>
            <div
              class="col-12 col-md-8 col-xl-auto d-flex align-items-center ms-xl-auto order-3 order-lg-2"
            >
              <!-- <nav
                class="header__nav mobile-nav collapse navbar-collapse"
                [collapse]="isCollapsed"
                [isAnimated]="true"
              >
                <ul class="header__nav-ul">
                  <li class="header__nav-list-item">
                    <a
                      href="#"
                      class="header__nav-link"
                      routerLinkActive="router-link-active active"
                      routerLink="admin/dashboard"
                      >Company Profile</a
                    >
                  </li>
                  <li class="header__nav-list-item">
                    <a
                      href="#"
                      class="header__nav-link"
                      routerLinkActive="router-link-active active"
                      routerLink="admin/bookinglisting"
                      >Employee Profile</a
                    >
                  </li>
             
                  <li class="header__nav-list-item">
                    <a
                      href="#"
                      class="header__nav-link"
                      routerLinkActive="router-link-active active"
                      routerLink="admin/candidatelisting"
                      >Document Management</a
                    >
                  </li>
                  <li class="header__nav-list-item">
                    <a
                      href="#"
                      class="header__nav-link"
                      routerLinkActive="router-link-active active"
                      routerLink="admin/companylisting"
                      >Common Masters</a
                    >
                  </li>
                  <li class="header__nav-list-item userAccountInfo">
                    
                 </li>
                  <li class="header__nav-list-item mobile-menu-item-extra">
                    <a href="#" class="header__nav-link">FAQ</a>
                  </li>
                  <li class="header__nav-list-item mobile-menu-item-extra">
                    <a href="#" class="header__nav-link">Careers</a>
                  </li>
                  <li class="header__nav-list-item mobile-menu-item-extra">
                    <a href="#" class="header__nav-link">News &amp; Media</a>
                  </li>
                  <li class="header__nav-list-item mobile-menu-item-extra">
                    <a href="#" class="header__nav-link">Contact us</a>
                  </li>
                </ul>
              </nav> -->
            </div>
            <div
              class="col-6 col-lg-1 col-xl-auto d-flex align-items-center justify-content-end order-lg-2"
            >
              <div class="menu-button__wrapper">
               
                <button
                  class="menu-button"
                  [ngClass]="{ active: !isCollapsed }"
                  type="button"
                  (click)="isCollapsed = !isCollapsed"
                >
                  <span class="menu-button__bar"></span
                  ><span class="menu-button__bar"></span
                  ><span class="menu-button__bar"></span>
                </button>
             
              </div>
            </div>
          </div>
        </div>
      </div>
</header>