<header class="header bg-white inheritSize ">
    <div class="header__main inheritSize ">
        <div class="c inheritSize " style="max-width:100%; width:100%;">
          <div
            class="row align-items-center justify-content-between inheritSize  "
          >
            <div class="col-6  d-flex align-items-center">
              <a href=""
                ><img
                  class="logo"
                  src="assets/images/logo/eazible_full.png"
              /></a>
            </div>
            <div
              class="col-auto d-flex align-items-center "
            >
            <app-header-account-info></app-header-account-info>              
            </div>
            
          </div>
        </div>
      </div>
</header>