<div class="container-fluid container--xl container--xxl main-page-wrap bg-trans-white  my-3 mx-3  relative">
    <div class="row bg-theme-gradient page-highlight-header">
        <div class="col-6">
            <h3>Company Profile</h3>
        </div>
        <div class="col-6 row justify-content-end p-0">
            <div class="col-md-2 d-flex justify-content-end p-0">

                <button class="text-white" mat-raised-button color="accent" (click)="goToDetails('new');">Create
                    New</button>
            </div>
        </div>
    </div>

    <div class="col-12 dash-table-wraper pt-2">

        <div class="col-12">
            <mat-form-field class="cardtype" appearance="outline">
                <mat-label> Search </mat-label>
                <input type="text" #searchFilter matInput (keyup)="searchitem(searchFilter.value)">
            </mat-form-field>
        </div>


        <table mat-table matSort [dataSource]="dataSource" matSortDisableClear class="bg-none">


            <ng-container matColumnDef="cmpnycode">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    <div class="table-head-col">Company Name</div>
                </th>
                <td mat-cell *matCellDef="let element" >
                    {{element.cmpnycode}}
                </td>
            </ng-container>


            <ng-container matColumnDef="cmpnyname">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    <div class="table-head-col">Company Name</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.cmpnyname }}
                </td>
            </ng-container>

            <ng-container matColumnDef="licencenumber">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    <div class="table-head-col">Licence Number</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.licencenumber }}
                </td>
            </ng-container>


            <ng-container matColumnDef="cmpnyaddress">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    <div class="table-head-col">Company Address</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.cmpnyaddress }}
                </td>
            </ng-container>


            <ng-container matColumnDef="noofstaff">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    <div class="table-head-col">No. Of Seats</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.noofstaff }}
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="goToDetails(row.id)"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
</div>