<div id="docInOutList" class="container-fluid container--xl container--xxl main-page-wrap bg-trans-white   my-3 mx-3  relative">
    <div class="row bg-theme-gradient page-highlight-header">
        <div class="col-6">
            <h3>Document Expiry</h3>
        </div>
        <div class="col-6 row justify-content-end p-0">
            <div class="col-md-2  d-flex justify-content-end p-0">
            </div>
        </div>

    </div>
<div class="col-12 dash-table-wraper pt-2" >

  <div class="col-12">
    <mat-form-field  class="cardtype" appearance="outline">
      <mat-label> Search </mat-label>
      <input type="text" #searchFilter matInput  (keyup)="searchitem(searchFilter.value)" >
      </mat-form-field>
  </div>



    <table mat-table matSort [dataSource]="dataSource"  (matSortChange)="sortData($event)" 
     matSortDisableClear
    class="card-type-table bg-none">

    <ng-container matColumnDef="doctype">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <div class="table-head-col">Type</div>
        </th>
        <td mat-cell *matCellDef="let element"  (click)="detailView(element)">
          {{ element.doctype }}
        </td>
      </ng-container>


    <ng-container matColumnDef="empname">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <div class="table-head-col">Name</div>
        </th>
        <td mat-cell *matCellDef="let element"  (click)="detailView(element)">
          {{ element.empname }}
        </td>
      </ng-container>


      <ng-container matColumnDef="docnumber">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <div class="table-head-col">Document Number</div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.empcode }}
        </td>
      </ng-container>



      <ng-container matColumnDef="issuedate">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <div class="table-head-col">Issue Date </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.issuedate | CustomDate }}
        </td>
      </ng-container>



      <ng-container matColumnDef="expirydate">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <div class="table-head-col">Expiry Date</div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.expirydate | CustomDate}}
        </td>
      </ng-container>



      <ng-container matColumnDef="remdays">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <div class="table-head-col">Remaining Days</div>
        </th>
        <td mat-cell *matCellDef="let element" >
         <strong class="text-danger  d-flex justify-content-end">{{ element.remdays }}</strong> 
        </td>
      </ng-container>



      <ng-container matColumnDef="status" >
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <div class="table-head-col">Status</div>
        </th>
        <td mat-cell class="text-center"  *matCellDef="let element"  [ngClass]="{'bg-danger text-white': element.status == 'Expired', 'bg-success text-white': element.status == 'Active' }"  >
         
          <strong class="text-white">  {{ element.status }}</strong>
        </td>
      </ng-container>


     

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="detailView(row)"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

  </div>
  </div>